@media screen and (max-width:1000px){
   nav{
       flex-direction: column;
   }
   .logo{
       justify-content: center;
       margin-top: 25px;
       
   }
   nav ul {
       justify-content: center;
       margin: 12px 0px;
       height: 34px;
   }
   .search{
       justify-content: center;
   }
   .search input{
    margin: 12px 12px;
    width: 190px;
   }
  header{     
      width: 908px;
      height: 200px;
  }
footer{
    width: 908px;
}
.carousel-inner{
     height: 300px;
     width: 100%;
}

}